# Ambientes virtuais Python
venv/
venv2/
env/
ENV/
.venv/
./detector_fadiga/venv/
./detector_fadiga/venv2/
./detector_fadiga/venv2/
./detector_fadiga/env/
./detector_fadiga/.venv/
./detector_fadiga/.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
